
i can private my file and folder , all i need to do is just type the name of the file and folder here 
for folder i just have to use extra / end of the name , once it done the file and folder colour turn into black 

Example 

secret.txt
node_js_folder/
